:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --header-color: #212121;
  --background-color: #ffffff;
  --background-btn: ##f5f4fa;
  --background-section: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.section {
  padding: 94px 0px;
}

header.section,
footer.section {
  padding-top: 0;
  padding-bottom: 0;
}
header.section {
  display: flex;
  align-items: center;
}
footer.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
header {
  border-bottom: 1px solid var(--background-color);
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

nav {
  display: flex;
  align-items: center;
}

.container.header {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);

  display: block;
}
.link.nav-contacts {
  color: inherit;
}

.link.foot-adress {
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: var(--background-color);
}
.link.foot-contacts {
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.link:hover,
.link:focus,
.active {
  color: var(--accent-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;
  margin-right: 93px;
}
.blue-logo {
  color: var(--accent-color);
}
.black-logo {
  color: var(--header-color);
}
.white-logo {
  color: var(--background-color);
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Studio */

.list > .item:not(:last-child) .link {
  margin-right: 50px;
}

.list.contacts {
  margin-left: auto;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--background-color);

  margin-bottom: 30px;
}
.hero,
footer {
  background-color: var(--background-section);
}
.btn-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);

  display: block;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.btn-hero:active,
.btn-hero:hover,
.btn-hero:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.peculiarities h3 {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  color: var(--header-color);
}
.peculiarities p {
  line-height: 1.71;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--header-color);

  margin-bottom: 50px;
}
.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--header-color);
}
.our-team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Portfolio */
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.88;
}
.list.buttons {
  justify-content: center;
}
.btn:not(:last-child) {
  margin-right: 8px;
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--header-color);
  background-color: var(--background-btn);

  padding: 6px 22px;
  border-radius: 4px;
}
.btn.common {
  padding-left: 25px;
  padding-right: 25px;
}
.btn:focus,
.btn:hover,
.btn:active {
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--accent-color);
}
.list.portfolio {
  flex-wrap: wrap;
  flex-basis: cacl((100%-40px)/3);
}
